@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf');
}

@font-face {
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/Play-Bold.ttf');
}
