:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-brand: #2b7fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --color-secondary-brand: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-large-tablet: 900px;
$bp-desktop: 1280px;
