@import '../utils/variables';

.procedures-card {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 4px 110px;

  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );

  &__image {
    border-radius: 4px 120px;
    z-index: -2;
    width: 100%;
  }

  &__title {
    color: var(--color-primary-light);
    font-size: 20px;
    position: absolute;
    bottom: 32px;
    font-weight: 400;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
    }
  }
}
